h1, h2{
    text-align: center;
    color: blueviolet;
}

h1 {
    padding: 2em 0;
}
h2 {
    padding: 1.5em 0;
}
.banner-order {
    display: flex;
    flex-direction: column;
}

.banner-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    flex-direction: column;
    padding: .7em 0;
}
p {
    font-size: 1.3rem;
    line-height: 2.5rem;
}