.status {
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: .8em .5em;
}

.status div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 10em;
    padding: .5em .5em;
    border-radius: 10px;
    border: double 8px rgb(40, 26, 15);
    background-color: rgb(81, 55, 42);
}

.status label {
    padding-bottom: .5em;
    color: #c2c2c2;
}

.status input {
    width: 3em;
    height: 3em;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    background: none;
    color: rgb(241, 230, 146);
    font-weight: bolder;
}
.status span {
    display: flex;
    color: aliceblue;
    align-items: baseline;
    font-size: 1.5rem;
    font-weight:900;
    padding-right: .5em;
}
.status span > input {
    background: none;
    font-size: 1rem;
    color: rgb(223, 223, 223);
    font-weight: 600;
}
