header {
width: 100%;
background-color: rgb(28, 24, 24);
border-bottom: double 13px rgb(99, 0, 0);
color: rgb(149, 154, 158);
font-size: 1.5rem;
padding: .5em 0;
}
nav {
    width: 100%;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration:none;
}
.navigation li {
    list-style: none;
    padding: 1em;
    border:solid black 2px;
    border-radius: 10%;
    background-color: rgb(49, 8, 8);
}
a {
    text-decoration:none;
}

.navigation a:visited {
    color:  rgb(207, 210, 212);
}