header {
width: 100%;
background-color: aquamarine;
color: red;
font-size: 1.5rem;
padding: .5em 0;
}
nav {
    width: 100%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration:none;
}
li {
    list-style: none;
    padding: 1em;
    border:solid black 2px;
    border-radius: 10%;
}
a {
    text-decoration:none;
}