footer {
display: flex;
flex-direction: column;
padding-top: 1em;
background-color: rgb(49, 49, 49);
}

footer h4 {
width: 100%;
color:rgb(204, 204, 151);
border-top:solid 2px rgb(164, 164, 126);
text-align: right;
padding: 1em 0;
padding-right: 2em;
background-color: rgb(24, 24, 24);
}
.social-media {
    display: flex;
    justify-content:center;
}
.social-media div{
  padding:0 4em;
  padding-top: .5em;
}