.username-bar{
    background-color: rgb(31, 1, 1);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom:solid 4px rgb(215, 196, 89);
    border-top:solid 3px rgb(215, 196, 89);
}

.username-bar h1 {
    padding: 1em 0;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 3em 0;
 
}
.dashboard-menu {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: solid 2px black;
    padding: 2em 0;
    font-size: 2rem;
    border-radius: 20px;
    background-color: rgb(252, 124, 124);
}

.dashboard-menu h3 {
    font-size: 4rem;
    padding: 0;
    padding-bottom: 1em;
}

.dashboard-options {
    width: 100%;
    text-align: center;
}


.dashboard-options > a {
    width: 100%;
    color: rgb(182, 255, 255);
}

.dashboard-options > a li {
    padding: 1em 0 ;
    background: rgb(43, 29, 23);
    border-top: dashed 2px rgb(253, 241, 241);
}


.dashboard-menu ul > li > a:visited {
    color:green;
}

li {
    list-style: none;
}